
{% load static %}

<!DOCTYPE html>
<html lang='es'>


<head>
    <!-- Metadatos -->
    <meta charset='UTF-8' />
    <meta name='author' content='Artemis Team (Ed Rubio)' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

    <!-- Título mostrado en la página. -->
    <title>{% block title %}{% endblock title %} | Artemis</title>

    <!-- Ícono sagrado... -->
    <link rel='shortcut icon' type='image/png' href='{% static "images/small-icon.png" %}'>

    <!-- Estilos base de esta plantilla -->
    <link href='{% static "css/main.css" %}' rel='stylesheet' />
    {% block childStylesheet %}{% endblock childStylesheet %}

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' />

    <!-- Scripts base de esta plantilla -->
    {% block childScripts %}{% endblock childScripts %}
</head>


<body>
    <!-- Modal para mostrar mensajes -->
    <dialog id='main-modal' closedby='any' class='main-modal'>
        <strong id='main-modal-message'></strong>
    </dialog>

    <!-- Contenido de las plantillas que hereden -->
    <main class='main-content'>
        {% block content %}{% endblock content %}
    </main>
</body>


</html>